@font-face {
  font-family: 'GeminiClusterRegular';
  font-style: normal;
  font-weight: 200;
  src:
    local("Gemini Cluster.otf"),
    url("../fonts/GeminiClusterRegular.ttf") format("truetype");

}

@font-face {
  font-family: 'NotoSansDisplayRegular';
  font-style: normal;
  font-weight: 200;
  src:
    local("NotoSansDisplayRegular.ttf"),
    url("../fonts/NotoSansDisplayRegular.ttf") format("truetype");

}

@font-face {
  font-family: 'NotoSansDisplay';
  font-style: normal;
  font-weight: 100,200,300,400,500,600,700,800;
  src:
    local("NotoSansDisplay.ttf"),
    url("../fonts/NotoSansDisplay.ttf") format("truetype");

}

/*centered body*/
header{
  width: 100%;
  box-sizing:border-box;
  /* Set the height of the header to 100% of the viewport height */
}

.module {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

main{
  box-sizing:border-box;
  background: rgba(0, 0, 0, 0.7);
}

footer{
  font-family: 'GeminiClusterRegular' !important;
  width: 100%;
  height: 150px;
}

.custom-container-splash{
  color: white;
  position: relative;
  height: 80%;
  z-index: 1;
}


.custom-container-about{
  width: 100%;
  padding:50px;
  z-index: 2;
}

.custom-container-software{
  width: 100%;
  padding:50px;
  z-index: 2;
}

.custom-container-portfolio{
  width: 100%;
  padding:50px;
  z-index: 2;
}

.custom-container-services{
  width: 100%;
  z-index: 2;
}

.custom-container-banner{
  width: 100%;
  z-index: 2;
}

.container-purple{
  position: relative;
  z-index: 1;
}

.container-purple::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../img/orion_bg.png);
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: -1;
}

.container-purple::after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(60, 0, 60, 0.85);
  z-index: -1;
}


.container-grey{
  position: relative;
  z-index: 1;
}

.container-grey::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../img/orion_bg.png);
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: -1;
}

.container-grey::after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

.container-banner{
  position: relative;
  z-index: 1;
}

.container-banner::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../img/orion_bg.png);
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: -1;
}

.container-banner::after{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

.carousel-control-prev-icon{
  background-image: none!important;
}

.carousel-control-next-icon{
  background-image: none!important;
}


.cover{
  z-index: 1!important;
}

.cover:after {
  background-image: linear-gradient(20deg, #00FFFF, #FF00FF );
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.55;
}


.banner-middle{
  width: 100%;
  /* Set the height of the header to 100% of the viewport height
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  */
}

 .banner{
   width: 100%;
   padding: 50px;
   /* Set the height of the header to 100% of the viewport height */
   height: 500px;
   z-index: 1!important;
 }

 .banner:after {
   background-image: linear-gradient(20deg, #FF00FF, #00FFFF);
   content: '';
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.55;
 }

 .card-service{
   width: 100%;
   padding: 20px;
   background: rgba(0, 0, 0, 0.5);
   border: 1px;
 }


nav{
  font-family: 'GeminiClusterRegular' !important;
  width: 100%!important;
  max-width: 1400px;
  margin: 0 auto;
  padding-top:20px!important;
  z-index: 2;
}

@media only screen and (min-width: 0px) and (max-width: 992px){
  .navbar-nav{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .nav-item{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.eslogan-landscape{
  display: none;
}

@media (orientation: landscape) {
  .iso {
    display:none;
  }
  .eslogan{
    display: none;
  }
  .module {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
}

.navbar-toggler{
  font-size: 2em!important;
  border: 0px!important;
}

.full-width {
  width: 100%!important;
  max-width: 1920px!important;
}

.fw-prices {
  width: 100%!important;
  background-color: grey;
  max-width: 1920px!important;
}

html,body {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/*custom css*/

.splash {
  width: 500px;
  max-width: 500px;
}

.logo-footer {
  width: 100%;
  max-width: 150px;
}

.iso {
  width: 250px;
  max-width: 250px;
}


.photo {
  width: 100%!important;
  max-width: 400px;
}

.photo:hover {
    content: url('../img/photo-color.png');
    width: 100%;;
    max-width: 400px;
}

.logo-brand {
  width: 200px;
  max-width: 200px;
}

p {
  font-family: 'NotoSansDisplayRegular'!important;
}

.notsnansdisplay{
    font-family: 'NotoSansDisplayRegular'!important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'NotoSansDisplay'!important;
}

.title{
  font-family: 'GeminiClusterRegular' !important;
}

.doble-shadow{
  text-shadow: -3px 3px 0 #00FFFF, -5px 5px 0 #ff2044b5, -7px 7px 0 #FF00FF;
}

.icons {
  display: inline;
  list-style-type: none;
}

.portfolio-icons{
  width: 100%;
  max-width: 70px;
}

.services-icons{
  width: 100%;
  max-width: 170px;
}


.groups {
  display: block!important;
  list-style-type: none!important;
}

.fab{
  font-size: 2em!important;
}

.fas{
  font-size: 2em!important;
}

.arrow{
  width: 70px;
  max-width: 70px;
  position: relative;
  z-index: 1;
}

.arrow-control{
  width: 100%;
  max-width: 40px;
}

@media only screen and (min-width: 0px) and (max-width: 992px){
  .arrow-control{
    width: 100%;
    max-width: 20px;
  }
}

.img-fluid{
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
  -moz-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
}

iframe{
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
  -moz-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
}

.p-middle {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scrollup{
width: 100%;
max-width: 50px;
position: fixed;
bottom: 90px;
right: 20px;
opacity: 70%;
z-index: 3;
}

.scrollup:hover{
width: 100%;
max-width: 50px;
position: fixed;
bottom: 90px;
right: 20px;
opacity: 100%;
z-index: 3;
}

.whatsapp{
width: 100%;
max-width: 50px;
position: fixed;
bottom: 20px;
right: 20px;
z-index: 3;
}
